@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';
@import 'components/logo.scss';
@import 'components/btn.scss';
@import 'components/link.scss';
@import 'components/product.scss';
@import 'components/form.scss';
@import 'components/filter.scss';
@import 'components/restaurant.scss';


.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 0;
  font-size: 18px;
  line-height: 1.17;

  &__list {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }

  &__item {
    margin-right: 44px;

    &:last-child {
      margin-right: 54px;
    }
  }

  &__link {
    display: block;
    padding: 10px 0;
    color: $dark;
    transition: color 0.3s linear;

    &:focus {
      outline-width: 0;
      border-radius: 6px;
      box-shadow: 0px 0px 0px 2px $orange-900;
    }

    &:hover {
      color: $orange-900;
    }

    &:active {
      color: $dark;
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }

    &--active {
      color: $orange-900;
    }
  }
}

.menu-user {
  display: flex;

  &__num {
    display: block;
    padding: 0 4px;
    font-size: 10px;
    line-height: 1.4;
    border-radius: 50%;
    color: #fff;
    background-color: $orange-900;
    top: 6px;
    left: 25px;
    position: absolute;
  }

  &__item {
    width: 44px;
    height: 44px;

    &:first-child {
      margin-right: 9px
    }
  }

  &__img {
    stroke: $darkBlue-900;
  }

  &__btn {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
    position: relative;

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      outline-width: 0;
      border-radius: 6px;
      box-shadow: 0px 0px 0px 2px $orange-900;
    }

    &:hover {
      background-color: $orange-900;
      stroke: #fff;

      .menu-user__num {
        color: $orange-900;
        background-color: #fff;
      }

      .menu-user__img {
        stroke: #fff;
      }
    }

    &:active {
      background-color: rgba(255, 122, 80, 0.1);

      .menu-user__img {
        stroke: $darkBlue-900;
      }
    }
  }
}


.hero {

  .title {
    margin-bottom: 60px;
  }

  .btn {
    margin-right: 29px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 450px;
    padding-bottom: 15px;
  }

  &__name {
    display: block;
    font-size: 66px;
    font-weight: 500;
    color: $darkBlue-900;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__subname {
    display: block;
    color: $orange-900;
  }

  &__text {
    display: block;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__img {
    height: 100%;
  }
}

.category {

  .title {
    margin-bottom: 60px;
  }

  .link {
    display: block;
    margin: 0 auto;
    text-decoration: underline;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;
  }
}

.delivery {

  .title {
    text-align: left;
    margin-bottom: 30px;
  }

  &__subtitle {
    display: block;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__info {
    max-width: 473px;
    padding-bottom: 15px;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    font-size: 24px;
    line-height: 1.5;
    padding-left: 63px;
    color: $darkBlue-900;
    position: relative;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__icon {
    position: absolute;
    left: 0;

    &--clock {
      fill: $orange-900;
    }

    &--delivery {
      fill: #00aaff;
    }

    &--restaurant {
      fill: #ff2222;
    }
  }
}

.restaurants {

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

.review {

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
  }

  &__img {
    border-radius: 50%;
    margin-right: 40px;
  }

  &__info {
    max-width: 650px;
    padding: 0 40px;
  }

  &__text {
    line-height: 1.5;
    font-style: italic;
    margin-bottom: 30px;
    position: relative;

    .start-qoute {
      position: absolute;
      fill: $gray;
      transform: translateX(-40px);
    }

    .end-qoute {
      position: absolute;
      fill: $gray;
      transform: translate(129px, 14px);
    }
  }

  &__name {
    display: block;
    font-weight: 500;
    font-style: normal;
    color: $orange-900;
  }

  &__subname {
    display: block;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    padding-top: 17px;
    color: $dark;
  }
}

.app {

  .title {
    text-align: left;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 540px;
    margin-right: 10px;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 30px;
  }

  &__link {
    display: block;

    &--store {
      height: 40px;
      width: 120px;
      background-image: url('../images/icons/app-store-icon.svg');
    }

    &--google {
      height: 40px;
      width: 135px;
      background-image: url('../images/icons/google-play-icon.svg');
    }
  }
}

.footer {
  font-size: 18px;

  .form {
    margin-right: 70px;
  }

  .logo {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &__item {
    width: 33%;
    margin-right: 10px;

    &:nth-child(3n+2) {
      width: 24%;
    }
  }

  &__link {
    width: 100%;
    color: $dark;
    letter-spacing: 0.01em;
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
  }

  &__element {
    width: 44px;
    height: 44px;
    margin-right: 8px;
    position: relative;
  }

  &__img {
    fill: $dark;
    @extend %position-center;
  }

  &__url {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

    &:focus {
      outline-width: 0;
    }

    &:hover {
      .footer__img {
        fill: #fff;
      }
    }

    &:active {
      .footer__img {
        fill: $orange-900;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 39px;
      height: 39px;
      top: 2px;
      left: 2px;
      border-radius: 50px;
      background-color: $silver-200;
      transition: background-color 0.3s, color 0.3s;
    }


    &:focus::before {
      outline-width: 0;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 2px $orange-900;
      background: rgba(255, 122, 80, 0.1);
    }

    &:hover::before {
      border-radius: 50%;
      box-shadow: 0px 0px 0px 2px $orange-900;
      background-color: $orange-900;
    }

    &:active::before {
      border-radius: 50%;
      background: rgba(255, 122, 80, 0.1);
    }
  }

  &__bottom {
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid rgba(194, 194, 194, 0.2);
  }
}

.footer-contacts {
  margin-right: 60px;

  &__item {
    margin-right: 20px;
    margin-bottom: 14px;
  }

  &__link {
    display: block;
    padding-left: 31px;
    font-size: 16px;
    line-height: 2;
    font-style: normal;
    color: $dark;
    position: relative;
  }

  &__img {
    position: absolute;
    top: 3px;
    left: 0;
    stroke: $dark;
  }
}